@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Robotoregular.ttf');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Robotomedium.ttf');
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Robotobold.ttf');
}

// LOGIN
.login-box {
  form .input-group input {
    width: 359px;
  }
  .card {
    h1 {
      font-size: 40px;
      color: #052C65;
    }
    .form {
      .checkbox label {
        font-size: 12px;
      }
      .input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 38px;
      }
    }
  }
  .auth-links {
    font-size: 12px;
    width: 397px;
  }
}

// LAYOUT PAGE
.layout-sidebar-full {
  width: 218px;
  height: 100vh;
  .layout-logo {
    width: 218px;
    .layout-img img {
      width: 50%;
    }
  }
  .layout-menu {
    .nav {
      .nav-item {
        width: 180px;
        .nav-link {
          width: 178px;
          font-size: 14px;
        }
        .btn-toggle {
          font-family: "RobotoRegular", sans-serif;
          font-size: 14px;
          .chevron {
            margin-left: 69px;
          }
        }
        .btn-toggle [aria-expanded="true"] {
          i {
            transform: rotate(90deg);
            transition: transform .35s ease;
          }
        }
      }
    }
    .layout-menu-balance {
      font-family: "RobotoMedium", sans-serif;
      font-size: 16px;
      color: #052C65;
      margin-top: 531px;
      span {
        color: #0D6EFD;
      }
    }
  }
  .layout-user {
      .layout-user-name {
        font-family: "RobotoRegular", sans-serif;
        font-size: 14px;
        color: #052C65;
      }
      .btn-toggle-logout {
        font-family: "RobotoRegular", sans-serif;
        font-size: 14px;
      }
      .btn-toggle-logout [aria-expanded="true"] {
        i {
          transform: rotate(90deg);
          transition: transform .35s ease;
        }
      }


  }
}

// COMMON STYLES
.text-element {
  width: 397px;
  height: 38px;
}

.common-btn {
  font-family: RobotoMedium, sans-serif;
  font-size: 14px;
}

.text-element {
  input {
    outline: none;
  }
}

.content {
  .common-content-actions {
    .btn {
      width: 100px;
    }
    .btn:hover {
      color: white;
      background-color: #6C757D;
    }
  }
}

.modal {
  .modal-content {
    .modal-body {
      font-family: RobotoMedium, sans-serif;
      font-size: 20px;
      color: #290661;
    }
    .modal-footer {
      .popup-btn {
        width: 111px;
      }
    }
  }
}

// DASHBOARD
.dashboard {
  .common-content-actions label {
    color: grey;
  }
  .card {
    width: 437px;
    height: 467px;
    .card-header {
      font-size: 28px;
      color: #290661;
    }
  }
}


// INCOMES
.incomes {
  .content {
    .incomes-element {
      width: 352px;
      padding: 20px 100px 20px 20px;
      color: #290661;
      span {
        font-size: 28px;
      }
    }
  }
}

// INCOMES & EXPENSES
.inc-exp {
  .common-content-actions label {
    color: grey;
  }
  .table {
    width: 120%;
    thead {
      th {
        color: #052C65;
      }
    }
  }
}

// CREATE INCOME/EXPENSE
.inc-exp-create {
  .inc-exp-create-element {
    .inc-exp-create-buttons .btn {
      font-size: 14px;
      margin-top: 210px;
    }
  }
}