<div class="dashboard container ms-5">
    <div class="content-header">
        <h1 class="dashboard-title">Home</h1>
    </div>
    <section class="content d-flex flex-column">
        <div class="dashboard-content-actions d-flex align-items-baseline">
            <input type="checkbox" class="btn-check" id="btn-check-today" checked autocomplete="off">
            <label class="btn btn-secondary me-3 mb-2" for="btn-check-today">Today</label>
            <input type="checkbox" class="btn-check" id="btn-check-week" checked autocomplete="off">
            <label class="btn btn-white me-3 mb-2" for="btn-check-week">Week</label>
            <input type="checkbox" class="btn-check" id="btn-check-month" autocomplete="off">
            <label class="btn btn-white me-3 mb-2" for="btn-check-month">Month</label>
            <input type="checkbox" class="btn-check" id="btn-check-year" autocomplete="off">
            <label class="btn btn-white me-3 mb-2" for="btn-check-year">Year</label>
            <input type="checkbox" class="btn-check" id="btn-check-all" autocomplete="off">
            <label class="btn btn-white me-3 mb-2" for="btn-check-all">All</label>
            <input type="checkbox" class="btn-check" id="btn-check-interval" autocomplete="off">
            <label class="btn btn-white me-3 mb-2" for="btn-check-interval">Interval</label>
            <div class="dashboard-content-calendar">
                <span>from </span> <a href="#">Date</a> <span> to </span> <a href="#">Date</a>
            </div>
        </div>
        <div class="dashboard-pie-charts d-flex">
            <div class="dashboard-pie-chart">
                <div class="card">
                    <div class="card-header border-0">Incomes</div>
                    <div class="card-body">
                        <canvas id="chart-incomes" class="chart chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
            <div class="dashboard-pie-chart">
                <div class="card">
                    <div class="card-header border-0">Expenses</div>
                    <div class="card-body">
                        <canvas id="chart-expenses" class="chart chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>