<div class="layout d-flex">
    <aside class="layout-sidebar-full">
        <div class="layout-sidebar d-flex flex-column flex-shrink-0 border-end border-bottom">
            <div class="layout-logo border-bottom mt-4 mb-2">
                <a href="/"
                   class="layout-img d-flex justify-content-center align-items-center text-decoration-none mb-3">
                    <img src="images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="layout-menu mt-4 ms-3">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item mb-1">
                        <button type="button" class="border-0 p-0 bg-transparent">
                            <a href="/" class="nav-link d-flex align-items-start align-items-baseline">
                                <i class="fa-solid fa-home me-2"></i>
                                Home
                            </a>
                        </button>
                    </li>
                    <li class="nav-item mb-1">
                        <button type="button" class="border-0 p-0 bg-transparent">
                            <a href="/incomes-expenses" class="nav-link d-flex align-items-start align-items-baseline">
                                <i class="fa-solid fa-money-bills me-2"></i>
                                Income & Expense
                            </a>
                        </button>
                    </li>
                    <li class="nav-item" id="nav-item-last">
                        <button type="button" class="border-0 p-0 bg-transparent">
                            <a href="javascript:void(0)"
                               class="nav-link btn btn-toggle collapsed inline-flex align-items-start align-items-baseline"
                               data-bs-toggle="collapse"
                               data-bs-target="#categories-collapse" aria-expanded="false" id="cat-btn">
                                Categories<i class="chevron fa-solid fa-chevron-right"></i>
                            </a>
                            <div class="nav-item-collapse collapse" id="categories-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-0 small align-self-start">
                                    <li>
                                        <a href="/incomes-view"
                                           class="nav-link m-0 d-flex align-items-start align-items-baseline"
                                           id="nav-link-incomes">Incomes</a>
                                    </li>
                                    <li>
                                        <a href="/expenses-view"
                                           class="nav-link d-flex align-items-start align-items-baseline"
                                           id="nav-link-expenses">Expenses</a>
                                    </li>
                                </ul>
                            </div>
                        </button>
                    </li>
                </ul>
                <div class="layout-menu-balance mb-3">
                    <p>Balance: <span class="ms-2" id="balance-amount">500$</span></p>
                </div>
            </div>
        </div>
        <div class="layout-user dropdown user d-flex align-items-center border-top border-2 p-3 border-end">
            <a href="#" class="layout-user-name d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
               id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="avatar d-flex justify-content-center align-items-center">
                    <i class="fas fa-circle-user fa-2xl"></i>
                </div>
                <div class="user-name ps-2">
                    <span id="userName"></span>
                    <span id="userLastName"></span>
                </div>
            </a>
            <ul class="dropdown-menu btn-toggle-logout" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </div>
    </aside>

    <!-- Контент страницы -->
    <div class="content-wrapper" id='content-layout'></div>

</div>