<div class="incomes-edit ms-5">
    <div class="content-header">
        <h2 class="incomes-edit-title">Editing expense category</h2>
    </div>
    <section class="content row incomes-edit-element d-flex flex-column ms-1">
        <div class="incomes-edit-text mb-3">
            <input type="text" value="Housing"></div>
        <div class="incomes-edit-buttons d-flex align-items-start p-0">
            <button type="button" class="btn btn-success me-2">Save</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </section>
</div>