<div class="incomes ms-5">
    <div class="content-header">
        <h2 class="incomes-title mt-5 mb-5">Expenses</h2>
    </div>
    <section class="content row gap-3 ms-1">
        <div class="incomes-element border border-1 rounded-2">
            <h5>Food</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Housing</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Health</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Coffee</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Auto</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Clothes</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Entertainment</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Bills</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2">
            <h5>Sport</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-toggle="modal">Delete</button>
        </div>
        <div class="incomes-element border border-1 rounded-2 btn d-flex align-items-center justify-content-center p-0">
            <span class="text-secondary mt-4 mb-4">+</span>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" id="myInput">
            <div class="modal-content d-flex align-items-center justify-content-center p-4 border-0">
                <div class="modal-body p-2">
                    Do you really want to delete this operation?
                </div>
                <div class="modal-footer border-0">
                    <button class="btn btn-success popup-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Yes, delete</button>
                    <button class="btn btn-danger popup-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Retain</button>
                </div>
            </div>
        </div>
    </div>
</div>
