<div class="incomes-create ms-5">
    <div class="content-header">
        <h2 class="incomes-create-title mt-5 mb-5">Creating an income category</h2>
    </div>
    <section class="content row incomes-create-element">
        <div class="text-element mb-3 border border-1 rounded">
            <input class="pt-1 border-0" type="text" placeholder="Title...">
        </div>
        <div class="incomes-create-buttons d-flex align-items-start p-0">
            <button type="button" class="common-btn btn btn-success me-2">Create</button>
            <button type="button" class="common-btn btn btn-danger">Cancel</button>
        </div>
    </section>
</div>