<div class="incomes ms-5">
    <div class="content-header">
        <h2 class="incomes-title">Incomes</h2>
    </div>
    <section class="content row gap-3 ms-0">
        <div class="incomes-element border">
            <h5>Deposits</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger btn-delete">Delete</button>
        </div>
        <div class="incomes-element border">
            <h5>Salary</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger btn-delete">Delete</button>
        </div>
        <div class="incomes-element border">
            <h5>Savings</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger btn-delete">Delete</button>
        </div>
        <div class="incomes-element border">
            <h5>Investments</h5>
            <button type="button" class="btn btn-primary me-2">Edit</button>
            <button type="button" class="btn btn-danger btn-delete">Delete</button>
        </div>
        <div class="incomes-element border btn d-flex align-items-center justify-content-center p-0">
            <span>+</span>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal border-0" id="modal">
        <div class="modal-content">
            <div class="modal-body text-center d-block p-0">
                <p>Do you really want to delete a category?</p>
                <p>Related revenue will remain uncategorised.</p>
            </div>
            <div class="modal-footer border-0 justify-content-center pt-2 p-0">
                <button type="button" class="btn btn-success popup-btn">Yes, delete</button>
                <button type="button" class="btn btn-danger popup-btn btn-close-popup">Retain</button>
            </div>
        </div>
    </div>
</div>
